.catalog {
  margin-bottom: 50px;
}
.catalog h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 50px;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 164px;
  }
}
.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 132px;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 143px;
  }
}
.catalog__heading {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 80px;
  margin-bottom: 18px;
  color: @dark-gray;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width) {
    width: 150px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.catalog__item {
  margin-bottom: 10px;
  min-height: 190px;
  &:last-child {
    padding: 0;
    background-color: @white;
  }
  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 430px;
    margin: 0;
    background-color: @light-gray;
    padding: 37px;
  }
  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
.catalog__details-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
.catalog__show {
  margin-bottom: 10px;
  min-height: 190px;
  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 440px;
    background-color: @white;
    padding: 37px;
    border: 2px solid @verylight-gray;
  }
  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
.catalog__desc-wrap {
  display: flex;
  justify-content: space-between;
}
.catalog__key {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  padding: 0;
  margin: 0;
}
.catalog__value {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  margin: 0;
  padding: 0;
}
.catalog__sub-heading {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.catalog__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  text-align: center;
}
.catalog__link--more {
  background-color: @verylight-gray;
  display: flex;
  color:@black;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  &:hover,
  &:focus {
   background-color: @light-gray;
  }
  &:active {
    color: @gray;
    background-color: @verylight-gray;
  }
}
.catalog__link--button,
.catalog__link--more {
  @media (min-width: @tablet-width) {
    width: 248px;
  }
  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
.catalog__img-wrap {
  display: block;
  text-align: center;
  width: 84px;
  height: auto;
  @media (min-width: @tablet-width) {
    width: 168px;
    height: auto;
  }
}
.catalog__img-wrap--litle {
  width: 68px;
  height: auto;
  @media (min-width: @tablet-width) {
    width: 162px;
    height: auto;
  }
}
.catalog__img-wrap--more {
  display: block;
  text-align: center;
}

