.catalog {
  margin-bottom: 50px;
}
.catalog h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 50px;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 164px;
  }
}
.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 132px;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 143px;
  }
}
.catalog__heading {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 80px;
  height: 47px;
  margin-bottom: 18px;
  color: @dark-gray;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  overflow: auto;
  @media (min-width: @tablet-width) {
    width: 150px;
    height: 52px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 21px;
  }
}
.catalog__item {
  position: relative;
  margin-bottom: 10px;
  min-height: 190px;
  z-index: 0;
  &:last-child {
    padding: 0;
    background-color: @white;
  }
  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 511px;
    margin: 0;
    background-color: @white;
    padding: 0 37px;
    &:nth-child(odd) {
      padding-top: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 324px;
      min-height: 430px;
      background-color: @light-gray;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    &:last-child::before {
      height: 429px;
      background-color: @white;
      padding-top: 83px;
    }
  }
  @media (min-width: @desktop-width) {
    width: 245px;
    &::before {
      width: 245px;
    }
  }
}
.catalog__details-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.catalog__show {
  position: relative;
  margin-bottom: 10px;
  min-height: 190px;
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 324px;
    min-height: 425px;
    background-color: @white;
    padding: 37px;
    bottom: 0;
    border: 2px solid @verylight-gray;
  }
  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
.catalog__desc-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid  @gray;
    margin-bottom: 10px;
  }
}
.catalog__description-list {
  height: 50px;
  overflow: auto;
  @media (min-width: @tablet-width) {
    height: 110px;
  }
}
.catalog__key {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  padding: 0;
  margin: 0;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: left;
    margin-bottom: 9px;
  }
}
.catalog__value {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-bottom: 9px;
  }
}
.catalog__sub-heading {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.catalog__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  text-align: center;
}
.catalog__detall-name {
  overflow: auto;
  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}
.catalog__link--more {
  background-color: @verylight-gray;
  display: flex;
  color:@black;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  &:hover,
  &:focus {
   background-color: @light-gray;
  }
  &:active {
    color: @gray;
    background-color: @verylight-gray;
  }
}
.catalog__link--button,
.catalog__link--more {
  @media (min-width: @tablet-width) {
    width: 248px;
  }
  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
.catalog__img-wrap {
  position: relative;
  display: block;
  text-align: center;
  width: 84px;
  height: auto;
  @media (min-width: @tablet-width) {
    width: 168px;
    height: auto;
    top: 0;
    margin-bottom: 27px;
  }
}
.catalog__img-wrap--litle {
  width: 68px;
  height: auto;
  @media (min-width: @tablet-width) {
    width: 162px;
    height: auto;
  }
}
.catalog__img-wrap--more {
  display: block;
  text-align: center;
}

