.example {
  background-color: @light-gray;
  padding-top: 27px;
  @media (min-width: @tablet-width) {
    background-color: @white;
  }
  @media (min-width: @desktop-width) {
    background-color: @light-gray;
  }
}
.example h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
.example__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example__key {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.example__value {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
  display: flex;
  text-align: center;
  width: 87px;
  background-color: @light-gray;
  padding: 0 10px;
  transform: translateY(5px);
  @media (min-width: @tablet-width) {
    background-color: @white;
    width: auto;
    transform: translateY(25px);
  }
  @media (min-width: @desktop-width) {
      background-color: @light-gray;
      transform: translateY(20px);
    }
  }
.example__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
}
.example__difference {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  margin: 20px;
}
.example__list {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    width: 406px;
  }
}
.example__item-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid @gray;
  border-radius: 4px;
  width: 124px;
  height: 60px;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 26px;
  margin-bottom: 22px;
  @media (min-width: @tablet-width) {
    width: 182px;
    height: 75px;
  }
  @media (min-width: @desktop-width) {
    height: 70px;
  }
}
.example__img-wrap-thin {
  display: none;
}
