.goods {
  margin-bottom: 5px;
}
.goods__title--h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
.goods__list-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;

}
.goods__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.goods__list {
  display: flex;
  justify-content: space-between;
}
.goods__meaning {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
}
.goods__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @dark-gray;
}
.goods__item {
  margin-bottom: 18px;
}
.goods__item:last-child {
  margin-bottom: 60px;
}
