.goods {
  margin-bottom: 5px;
}
.goods h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
.goods__list-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  @media (min-width: @tablet-width) {
    width: 708px;
    border: 1px solid @gray;
    margin-bottom: 61px;
  }
  @media (min-width: @desktop-width) {
    padding: 0;
    border: none;
    width: 896px;
  }

}
.goods__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    display: flex;
    font-size: 20px;
    line-height: 20px;
  }
}
.goods__title--name {
  margin-bottom: 13px;
}
.goods__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  @media (min-width: @tablet-width) {
    justify-content: end;
  }
}
goods__name-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
.goods__meaning {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
}
.goods__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @dark-gray;
}
.goods__link--button {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
  @media (min-width: @desktop-width) {
    width: 244px;
    height: 40px;
  }
}
.goods__item {
  border-top: 1px solid @gray;
  min-height: 130px;
  margin-bottom: 18px;
  padding-top: 13px;
  @media (min-width: @tablet-width) {
    padding: 28px 36px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 13px;
    min-height: 72px;
    margin-bottom: 0;
  }
}
.goods__item:last-child {
  margin-bottom: 18px;
  border-bottom: 1px solid @gray;
  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
  @media (min-width: @desktop-width) {
    border-bottom: 1px solid @gray;
    margin-bottom: 0;
  }
}
.goods__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
