
.page-footer__map-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.page-footer__map-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
}
.page-footer--secondary-pages {
  background-color: @light-gray;
}
.page-footer__wrapper {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.page-footer__map-img {
  display: block;
  margin: 0 auto;
  height: 382px;
  width: 100%;
  object-fit: cover;
  @media (min-width: @tablet-width) {
    height: 400px;
  }
  @media (min-width: @desktop-width) {

  }
}
.page-footer__socials {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
