.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  position: relative;
}
.page-body__green-cat {
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(@green-top, @green-top), url(../img/cat-background.jpg);
    background-repeat: no-repeat;
    background-size: cover, 320px 302px;
    background-position: 0 0, center;
    width: 320px;
    height: 302px;
    top: 65px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(@green-top, @green-top), url(../img/cat-background@2x.jpg);
    }
    @media (min-width: @tablet-width) {
      display: none;
    }
    @media (min-width: @desktop-width) {
      background-image: linear-gradient(@green-top, @green-top), url(../img/cat-background-desktop.jpg);
      background-size: cover, 720px 694px;
      background-position: 0 0, right top;
      right:0;
      top: 0;
      object-fit: cover;
      transform:unset;
      left: unset;
      height: 696px;
      width: 50vw;
      display: block;
      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(@green-top, @green-top), url(../img/cat-background-desktop@2x.jpg);
      }
    }
  }
}
.page-body--nojs.green-cat::before {
  top:263px;
  @media (min-width: @tablet-width) {
    top: 0;
  }
}
