.promo {
  padding-top: 27px;
}
.promo__wrapper {
  background-image: url(../../img/cat-background.jpg);
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: 0 0;
  margin: 0 auto;
}
.promo__title--h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
  color:inherit;
}
.promo__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color:inherit;
}
