.reason__inner {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 77px;
  }
}
.reason h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
.reason__list {
  list-style: none;
  padding: 0;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 153px;
    grid-row-gap: 77px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 94px;
  }
}
.reason__item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
  }
  @media (min-width: @desktop-width) {
  }
}
.reason__item--leaf {
  padding-left: 80px;
  position: relative;
  &::after {
    content: "";
    background-image: url(../../img/icons/leaf.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
  }
}
.reason__item--powder {
  padding-left: 80px;
  position: relative;
  &::after {
    content: "";
    background-image: url(../../img/icons/powder.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
  }
}
.reason__item--eat {
  padding-left: 80px;
  position: relative;
  &::after {
    content: "";
    background-image: url(../../img/icons/eat.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
  }
}
.reason__item--clock {
  padding-left: 80px;
  position: relative;
  &::after {
    content: "";
    background-image: url(../../img/icons/alarm.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
}
}
.reason__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  font-family:"Arial", sans-serif;
}
