.reason__inner {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 77px;
  }
}
.reason h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;
}
.reason__list {
  list-style: none;
  padding: 0;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 153px;
    grid-row-gap: 77px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 94px;
  }
}
.reason__item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 80px;
  @media (min-width: @tablet-width) {
   min-height: 280px;
   width: 245px;
   padding-top: 110px;
   padding-left: 0;
   margin-bottom: 0;
  }
}
.reason__item--leaf {
  position: relative;
  &::before {
    content: "";
    background-image: url(../../img/icons/leaf.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url(../../img/icons/one.png);
      background-repeat: no-repeat;
      background-size: 112px 280px;
      width: 112px;
      height: 280px;
      top: 0;
      right: 0;
      z-index: -1;
      @media (min-resolution: 2dppx) {
        background-image: url(../../img/icons/one@2x.png);
      }
    }
  }
}
.reason__item--powder {
  position: relative;
  &::before {
    content: "";
    background-image: url(../../img/icons/powder.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url(../../img/icons/two.png);
      background-repeat: no-repeat;
      background-size: 134px 280px;
      width: 134px;
      height: 280px;
      top: 0;
      right: 0;
      z-index: -1;
      @media (min-resolution: 2dppx) {
        background-image: url(../../img/icons/two@2x.png);
      }
    }
  }
}
.reason__item--eat {
  position: relative;
  &::before {
    content: "";
    background-image: url(../../img/icons/eat.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url(../../img/icons/three.png);
      background-repeat: no-repeat;
      background-size: 134px 280px;
      width: 134px;
      height: 280px;
      top: 0;
      right: 0;
      z-index: -1;
      @media (min-resolution: 2dppx) {
        background-image: url(../../img/icons/three@2x.png);
      }
    }
  }
}
.reason__item--clock {
  position: relative;
  &::before {
    content: "";
    background-image: url(../../img/icons/alarm.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 0;
    left:0;
    background-position: center;
    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url(../../img/icons/four.png);
      background-repeat: no-repeat;
      background-size: 136px 280px;
      width: 136px;
      height: 280px;
      top: 0;
      right: 0;
      z-index: -1;
      @media (min-resolution: 2dppx) {
        background-image: url(../../img/icons/four@2x.png);
      }
    }
  }
}
.reason__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  font-family:"Arial", sans-serif;
}
