.page-footer--bg {
  background-color: @gray-footer;
  @media (min-width: @tablet-width) {
    padding:30px 55px;
    margin: 0 auto;
  }
}
.page-footer__socials-wrap {
  padding-top: 29px;
  @media(min-width: @tablet-width) {
    padding-top: 0;
  }
}
.socials__logo {
  text-align: center;
  border-bottom: 1px solid @gray-border-footer;
  padding-top: 9px;
  padding-bottom: 26px;
  @media(min-width: @tablet-width) {
    border: none;
    padding-top: 33px;
  }
}
.page-footer__logo-title {
  display: block;
  &:focus,
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .5;
  }
  @media (min-width: @tablet-width) {
  }
}
.socials__social-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @gray-border-footer;
  padding-top: 24px;
  padding-bottom: 19px;
  @media(min-width: @tablet-width) {
    border: none;
    padding: 33px;
  }
}
.socials__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.socials__link {
  display: flex;
}
.socials__social-icon--vk {
  @media (min-width: @tablet-width) {
    padding-left: 5px;
  }
}
.socials__social-icon--inst {
  @media (min-width: @tablet-width) {
    padding-left: 10px;
  }
}
.copyright__logo {
  @media (min-width: @tablet-width) {
    margin-top: -10px;
  }
}
.copyright__link .copyright__logo {
  transform: scale(1.4);
}
.socials__link .socials__social-icon {
  @media (min-width: @tablet-width) {
    transform: scale(1.4);
  }
}
.socials__partner {
  padding-top: 30px;
  padding-bottom: 30px;
  @media(min-width: @tablet-width) {
    padding-top: 35px;
    padding-bottom: 0;
  }
}
.copyright__link {
  display: flex;
  justify-content: space-between;
}
.copyright__name {
  font-family: "Arial", sans-serif;
  @media(min-width: @tablet-width) {
    margin-right: 20px;
  }
}
.socials__link .socials__social-icon--vk,
.socials__link .socials__social-icon--inst {
  fill: @dark-gray;
}
.socials__link:hover .socials__social-icon--inst,
.socials__link:hover .socials__social-icon--vk,
.socials__link:focus .socials__social-icon--vk,
.socials__link:focus .socials__social-icon--inst {
  fill: @green;
}
.socials__link:active .socials__social-icon--vk,
.socials__link:active .socials__social-icon--inst {
  fill: @green;
  opacity: .5;
}
.socials__link .socials__social-icon--fb {
  stroke: @dark-gray;
  fill:none;
}
.socials__link:hover .socials__social-icon--fb,
.socials__link:focus .socials__social-icon--fb {
  stroke: @green;
}
.socials__link:hover .socials__social-icon--fb {
  stroke: @green;
  opacity: .5;
}
.copyright__logo--html {
  width: 27px;
}
.copyright__link .copyright__logo {
  color: @dark-gray;
}
.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: @green;
}
.copyright__link:active .copyright__logo {
  fill: @green;
  opacity: .5;
}
