.page-footer-bg {
  background-color: @light-gray;
  @media (min-width: @tablet-width) {
    padding:55px;
    margin: 0 auto;
  }
}
.socials {
  background-color: @light-gray;
  padding-top: 29px;
}
.socials__logo {
  text-align: center;
}
.socials__list {
  list-style: none;
}
.socials__social-wrapper {
  display: flex;
  justify-content: center;
}
.socials__list {
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.copyright__link {
  display: flex;
  justify-content: space-between;
}
