@green:#68B738;
@verylight-gray:#F2F2F2;
@light-gray:#EBEBEB;
@gray:#CDCDCD;
@lightdark-gray: #666666;
@dark-gray:#444444;
@verydark-gray:#222222;
@error-red:#FF8282;
@dark-green:#5EAA2F;
@black:#000000;
@white:#FFFFFF;
@white-active: rgba(255, 255, 255, 0.3);
